### Added by Zinit's installer
if [[ ! -f $HOME/.local/share/zinit/zinit.git/zinit.zsh ]]; then
    print -P "%F{33} %F{220}Installing %F{33}ZDHARMA-CONTINUUM%F{220} Initiative Plugin Manager (%F{33}zdharma-continuum/zinit%F{220})…%f"
    command mkdir -p "$HOME/.local/share/zinit" && command chmod g-rwX "$HOME/.local/share/zinit"
    command git clone https://github.com/zdharma-continuum/zinit "$HOME/.local/share/zinit/zinit.git" && \
        print -P "%F{33} %F{34}Installation successful.%f%b" || \
        print -P "%F{160} The clone has failed.%f%b"
fi

source "$HOME/.local/share/zinit/zinit.git/zinit.zsh"
### End of Zinit's installer chunk

zi ice from"gh-r" as"program"
zi light junegunn/fzf

zi ice wait lucid
zinit light Aloxaf/fzf-tab

zinit wait lucid light-mode for \
  atinit"zicompinit; zicdreplay" \
      zdharma-continuum/fast-syntax-highlighting \
  atload"_zsh_autosuggest_start" \
      zsh-users/zsh-autosuggestions \
  blockf atpull'zinit creinstall -q .' \
      zsh-users/zsh-completions

zi ice pick"async.zsh" src"pure.zsh"
zi light sindresorhus/pure

zi ice atclone"dircolors -b LS_COLORS > c.zsh" atpull'%atclone' pick"c.zsh" nocompile'!'
zi light trapd00r/LS_COLORS

zstyle ':completion:*'  matcher-list 'm:{a-z}={A-Z}'

{{ if eq .chezmoi.os "darwin" }}
fpath=(/opt/homebrew/completions/zsh $fpath)
fpath=(/opt/homebrew/share/zsh/site-functions/ $fpath)
export HOMEBREW_BREW_GIT_REMOTE=https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/brew.git
export HOMEBREW_BOTTLE_DOMAIN=https://mirrors.tuna.tsinghua.edu.cn/homebrew-bottles
{{ end }}

export RUSTUP_DIST_SERVER=https://mirrors.ustc.edu.cn/rust-static

bindkey -e

HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
setopt SHARE_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_FIND_NO_DUPS
setopt HIST_SAVE_NO_DUPS


source <(fzf --zsh)
eval "$(zoxide init --cmd j zsh)"

alias ls='eza '
alias grep='grep --color=auto '
alias v='nvim '
alias zj='zellij '
alias lg="lazygit "

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias mkdir="mkdir -pv"
alias rmq="/usr/bin/rm"
alias rm="rm -iv"
alias mv="mv -iv"
alias cp="cp -iv"
alias rmdir="rmdir -iv"

export PATH=~/.local/bin:$PATH
export PATH=~/.cargo/bin:$PATH
export EDITOR=nvim

source ~/.local/bin/tools.sh

